  <div class="article">
    <img src={{article.image}}/>
    <h3>{{article.title}}</h3>
    <hr>
    <div class="article-footer">
      <p>{{article.author}}</p>
      <p>{{article.date}}</p>
    </div>
  </div>
