<div class="navbar">
  <h1>Bustle</h1>
  <nav>
    <p>{{#link-to 'index'}}Home{{/link-to}}</p>
    <p>News</p>
    <p>Entertainment</p>
    <p>Fashion and Beauty</p>
    <p>Lifestyle</p>
    <p>Books</p>
    <p>Explore</p>
    <p>About</p>
    <p>{{#link-to 'add-article'}}Add Article{{/link-to}}</p>
  </nav>
</div>

<div class="wrap">
  {{outlet}}

</div>
