<div class="navbar">
  <h1>Bustle</h1>
  <nav>
    <p>News</p>
    <p>Entertainment</p>
    <p>Fashion and Beauty</p>
    <p>Lifestyle</p>
    <p>Books</p>
    <p>Explore</p>
    <p>About</p>
    <a href="/admin">Admin</a>
  </nav>
</div>

<div class="wrap">
  {{outlet}}

</div>
